<div class="loginForm">
	<div class="loginTitle">Please enter your credentials {{ctrl.login}}</div>
	<form class="loginFormContent">
		<div class="formLine">
			<label>login</label><input name="login" ng-model="ctrl.login" value="{{ctrl.login}}"/>
		</div>
		<div class="formLine">
			<label>password</label><input name="password" type="password" ng-model="ctrl.login" value="{{ctrl.login}}"/>
		</div>
		<div class="buttonLine"><button ng-click="ctrl.doLogin()">continue</button></div>
	</form>
</div>