html, body {
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #1b86b3;
}

body {
	background: #ffffff url('/images/layout/sky2.jpg') top center no-repeat;
}

.loginBack {
}

.loginHeader {
	background: url('/images/layout/amadeus-logo.png') center 30px no-repeat;
	width: 600px;
	height: 150px;
	margin: 0 auto 0;
	opacity: 0.2;
}

.loginContent {
	margin: 0 auto 0;
	width: 310px;
}

.hide,
.hide-add, .hide-remove {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.hide,
.hide-add.hide-add-active {
  opacity: 0;
}

.hide-remove.hide-remove-active {
  opacity: 1;
}

.loginForm {
	/*background: #ffffff;*/
	color: #1b86b3;
	border-radius: 6px;
	/*box-shadow: 0px 0px 8px #444444;*/
}

.loginFormContent {
	padding: 4px;
}

.loginForm .loginTitle {
	text-align: center;
	font-weight: bold;
	padding: 4px;
	border-radius: 6px 6px 0 0;
	font-weight: bold;
}

.loginFormContent label {
	width: 150px;
	/*font-weight: bold;*/
	display: inline-block;
}

.loginFormContent .formLine {
	padding: 0 0;
	margin: 5px 0;
}
/*
.loginFormContent .formLine input {
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding:4px;
	background: #ffffff;
}

.loginFormContent .formLine input:focus {
	border: 1px solid #dc009b;
	border-radius: 4px;
}

.loginFormContent .formLine select {
	border: 1px solid #ffffff;
	border-radius: 4px;
	padding:4px;
	background: #ffffff;
	width: 135px;
}*/
/*
button {
	background: #dc009b;
	border-radius: 4px;
	border: 0;
	color: white;
	padding: 4px;
	font-weight: bold;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
*/
.loginFormContent .buttonLine {
	text-align: center;
	margin-top: 20px;
}

.baseBack {
}

.hull, .footer {
	width:800px;
	margin: 0 auto;
}

.hull {
	background: #ffffff;
	border-radius: 0 0 6px 6px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
}

.header {
	min-height: 100px;
	background: #1b86b3;
	color: white;
}

.content {
	min-height: 500px;
}

.paddedContent {
	padding: 4px;
}

.footer {
	text-align: center;
}

label.k-checkbox-label {
	width: 0;
}
